<ion-header>
    <ion-toolbar>
      <ion-buttons padding>
        <ion-icon
          (click)="goBack()"
          name="arrow-back"
          class="ion-text-left increase_font"
        ></ion-icon>
        <ion-title class="ion-text-center"> PINNACLE </ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding" class="gradient">
  <section class="ion-padding flex_col">
      <h1>
        ANATOMY 1995
      </h1>
      <clock>
      </clock>
  </section>
</ion-content>