.login-screen{
    --background:none;
    background:#5065EA;
    section{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
        width:100%;
    }
    .flex_holder{
        width:90%;
    }
    .flex{
        display:flex;
        span{
            .bordered{
                border-bottom:2px #5065EA;
            }
            flex-grow:1;
            background:white;
            height:54px;
            font-size:20px;
            margin:auto;
            text-align:center;
            padding-top: 15px;
        }
    }
    form{
        background:white;
        padding:20px;
        border-radius: 0 0 22px 22px;
        input {
            background:white;
            border:1px solid #707070;
            height:45px;
            font-size:20px;
            padding:5px;
            margin-top:20px;
            width:100%;
            border-radius:12px;
            outline:none;
            // background:white;
        }
        ion-button{
            margin:20px;
        }
    }
    // section{
        
    // }
}