<ion-header>
    <ion-toolbar>
      <ion-buttons padding>
        <ion-title class="ion-text-center"> RESULTS </ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="result">
    <div class="circle">
      74%
    </div>
    <div>
      <p>Grade: A </p>
      <p>time left: 04:00mins</p>
    </div>
    <!-- <div class="ion-text-center ">
      <ion-button color="success">
        Publish
      </ion-button>
    </div> -->
    <div class="ion-text-center top-button">
      <ion-button color="light">
        Take test Again
      </ion-button>
    </div>
    <div class="ion-text-center">
      <ion-button color="warning" [routerLink]="['/review']">
        Review
      </ion-button>
    </div>
  </ion-content>