<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-padding">
      <ion-title class="ion-text-center"> PINNACLE </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true">
  <ion-card class="banner-png">
    <p>welcome {{ name | uppercase }} your on a {{ days }} days streak</p>
    <div class="ion-text-center">
      <ion-button class="random_button" color="secondary">
        Random Test
      </ion-button>
    </div>
  </ion-card>

  <div class="flex-box">
    <ion-card class="bch" color="secondary" (click)="nextPage('BCH')">
      <p>BCH</p>
    </ion-card>
    <ion-card class="anatomy" color="danger" (click)="nextPage('ANA')">
      <p>ANATOMY</p>
    </ion-card>
  </div>
  <div class="flex-box">
    <ion-card color="primary" color="dark" (click)="nextPage('PHY')">
      <p>PHY</p>
    </ion-card>


    <ion-card (click)="nextPage('ALT')">
      <p>ALT. TO <br>
        PRACTICALS</p>
    </ion-card>
  </div>
</ion-content>
