<ion-header>
  <ion-toolbar>
    <ion-buttons padding>
      <ion-title class="ion-text-center"> SUBSCRIPTION </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <div class="active">
      STATUS
      ACTIVE
    </div>
    <div class="days">
      24
      <sub>DAYS</sub>
    </div>
    
  </section>

  <div class="flex_wrapper">
    <ion-button expand="block" color="secondary">
     Subscribe Now
    </ion-button>
    <ion-button expand="block">
      View History
    </ion-button>
  </div>

  <ion-list class="flex_list">
    <span>Anatomy</span>
    <span>1997</span>
    <span>1hr a go</span>
  </ion-list>
   

</ion-content>